name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: phoodlen-frontend/package-lock.json

    - name: Install dependencies
      working-directory: ./phoodlen-frontend
      run: npm ci

    - name: Run Lint
      working-directory: ./phoodlen-frontend
      run: npm run lint

    - name: Run Build
      working-directory: ./phoodlen-frontend
      run: npm run build
